BasedOnStyle: Microsoft
Language: Cpp

SpaceBeforeParens: Always

# ALLOW ONE-LINERS
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
# ALIGNMENT
AlignTrailingComments: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
# INDENTATION
IndentCaseLabels: true
# USE TABS
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 150